body {
    font-family: [Young Serif](https://fonts.google.com/specimen/Young+Serif);
    font-weight: 400px;
    text-align: left;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
}

.prepare {
    width: 70%;
    background-color: hsl(330, 100%, 98%);
    border-radius: 3px;
    padding: 1px;
    align-self: center;
    text-align: left;
}

.ptext {
    color: hsl(332, 51%, 32%);
    
}

.ingredients {
    background-color: #fff;
    border-bottom: #000 1px solid;
}

.ingtext {
    color: hsl(14, 45%, 36%)
}

.nutrients {
    background-color: #fff;
    border-bottom: #000 1px solid;
    display: flex;
    text-align: center;
}

.cat li {
    display: inline;
    margin-right: 50px;
}

.overall {
    text-align: center;
}